/* doc styles*/
  
:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --slate: #434455;
    --green: #31D0AA;
    --lightslate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navybluemodal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairly: #FCFCFC;
  }
  
  body{
    font-family: "Roboto", sans-serif;
  }

  button {
    font-family: inherit;
    border: unset;
    outline: none;
 } 

 .filter-button {
  font-family: inherit;
  border: unset;
  outline: none;
 }

 .filter-button :hover {
  font-family: inherit;
  border: unset;
  outline: none;

 }

  
  /* default styles*/
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  p {
    margin: 0;
    padding: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  img {
    display: block;
    max-width: 100%;
    
  }
  
  address {
    font-style: normal;
  }
  
  .link {
    text-decoration: none;
    color: inherit;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
   /*specific styles*/
  
  .container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .section{
    padding-top:94px;
    padding-bottom:94px;
  }
  
  .header{
    border-bottom: 1px solid var(--cornflower);
    background: var(--white);
    padding: 24px;
  }
  
  .nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-list{
    display: flex;
    align-items: center;
    gap: 76px ;
  }
  
  
  .navbar{
    display: flex;
    gap: 40px;
  }
  
  .nav-contacts{
    display: flex;
    gap: 40px;
  }
  
  .header-contact-item,
  .navbar-item{
    display: block;
  }
  
  .logo{
    color: var(--navyblue);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }

  .logo span {
    color: var(--iris);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; 
    letter-spacing: 0.54px;

  }
  
  .navbar-contact-link{
    color: var(--navyblue);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
  }
  
  .current-link,
  .navbar-contact-link:focus, 
  .header-contact-link:focus,
  .navbar-contact-link:hover,
  .header-contact-link:hover {
    color: var(--ocean);
  }
  
  .hero-button:focus{
    border-radius: 4px;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
  
  .hero-button:hover {
    background-color: var(--ocean);
  }
  
  
  .filter-button:focus{
    background: var(--ocean);
    color: white;

  }

  .hero-container {
    gap: 40px;
  }
  
  .filter-button:hover{
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    display: block;
    background: var(--ocean);
    cursor: pointer;
  }

  .filter-button {
    display: block;
    margin-bottom: 5px;
    color: var(--iris);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
  }

  .filter-current
  
  .header-contact-link{
    font-size: 14px;
    color: var(--sub-text-color);
    font-weight:500;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
  
  .hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero{
    padding:200px 0;
    background: url(/images/people\ office\ image.jpg), lightgray 0px -167.766px / 100% 139.922% no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--GREY, rgba(46, 47, 66, 0.70));
    
    
  }
  
  .hero-heading{
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: 1.12px;
  }
  
  .hero-button{
    background: var(--iris);
    color: var(--white);
    font-weight: 700;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    letter-spacing: 0.64px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    cursor:pointer;
  }
  
  .group-list{
    display: flex;
    justify-content: space-between;
  }
  
  .group-item{
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
  }
  
  .group-heading{   
    color: var(--navyblue);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.4px;
  }
  
  .group-detail{      
    color: var(--slate);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;  
    letter-spacing: 0.32px;
  }
  
  .services-container{
    display:flex;
    flex-direction: column;
  }
  
 .services-container, .team-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

  .services-heading{
    padding-top: 0;
  }
  
  .services-list {
    display:flex;
    justify-content: space-between;
  }
  
  .services-heading, .team-heading{
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  
  .section-heading-team,
  .team-list{
    display:flex;
    justify-content: space-between;
    align-items: center;

  }
  .image-container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 0px 0px 4px 4px;
    background: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }


  .section-team{
    background: var(--cloud);
  }
  
  .team-name{
    color: var(--navyblue);
    text-align: center; 
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
  }
  
  .team-title{
    color: var(--slate);
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
  }
  
  .filters{
    display: flex;
    justify-content: center;
    margin-bottom:50px;
  }
  
  .filter-item:not(:last-child){
    margin-right: 8px;
  }
  
  .projects{
    display: flex;
    flex-wrap: wrap;
    margin-left:-30px;
    margin-top:-30px;
    }
    
    .projects-item{
      margin-left: 30px;
      margin-top: 30px;
      background: var(--white);
    }
  
   .footer-projects{
     display: flex;
     flex-direction: column;
     padding:20px 24px;
     border: 1px solid var(--white);
     border-top:none;
   }
  
  .filter-button{
    display: block;
    background-color: var(--cornflower);
    background: var(--cloud);
    padding: 12px 24px; 
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .filter-current{
    display: block;
    margin-bottom: 5px;
    color: var(--iris);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
    padding: 12px 24px;
  }
  
  .projects-heading{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
  }
  
  .projects-filter{
    font-weight: 400;
    font-size: var(--sub-font-size);
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--sub-text-color);
  }
  
  .footer{
    background: var(--navyblue);
    padding: 60px 0;
  }
  
  .logo-footer{
    display:block;
    margin-bottom: 10px;
  
  }
  
 .footer-text {
    color: var(--cloud);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px;
 }

 .logo-footer span {
    color: var(--iris);
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; 
  letter-spacing: 0.54px;
  text-transform: uppercase;
 }

 .logo-footer {
  color: var(--cloud  );
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; 
  letter-spacing: 0.54px;
  text-transform: uppercase;
 }